# Ignoring the virtual environment folder for python
venv/
# Ignoring python's compiled bytecode
*.pyc
# Ignoring python's local cache
___pycache___/
# Ignoring secret files that house API keys
secrets.py