#navlinkbrand img:hover {
    border: 1px dashed #0c7475;
    border-radius: 0.4rem;
}

#navlinks a {
    margin-bottom: 2px;
}

#navlinks a.active {
    font-weight: 500;
    color: #0d9365;
}

#navlinks a:hover {
    margin-bottom: 0px;
    color: black;
    border-bottom: 2px solid #0c7475;
}