a {
    color:blue;
    margin: 0.5em;
    padding: 1em;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 1em;
    text-decoration: none;
}

a:hover {
    background-color: blue;
    color: white;
}

h2 {
    margin-bottom: 2em;
}