{% extends 'base.html'  %}

{% block title %} Add feedback {% endblock %}

{% block content %}

<h1 class="display-1">Add Feedback</h1>
    <form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form
        if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{ field(class_="form-control") }}
        {% for error in field.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}
    </p>
    {% endfor %}
    <button class="btn btn-success" type="submit">Add feedback</button>
    </form>

{% endblock %}